/* CSS Reset */

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li , figure, figcaption, form, fieldset, label, legend, dl, dt, dd, caption, table, td, th {
    margin: 				0;
    padding:				0;
    font-size: 				100%;
}

section, article, header, footer, nav, aside, main {
	display:				block;
}

img {
	border:					none;
}

ul, ol {
	list-style-type: 		none;
}

/* Defaults */

body {
	font-family:			Tahoma, Arial, sans-serif;
	background-color:		#fcfc8f;			
}

h1 {
	font-weight:			bold;
	color:					#0089FF;
	font-family:			'Cormorant SC', serif;;
	font-size:				5em;
	text-align: 			center;
}

h2 {
	font-size:				2.5em;
	margin:					0.5em;
	font-family: 			'Libre Bodoni', serif;;
	clear: 					both;
	text-align: 			center;
}

h3 {
	font-size:				1.75em;
	margin:					0.5em;
	color:					#000;
	font-family: 			'Archivo Black', sans-serif;
	float: 					left;
	clear: 					both;
}

h4 {
	font-family:			Arial, Helvetica, sans-serif;
	font-weight:			bold;
	margin:					15px;

}

h4 a {
	color:					#0000FF;
}

p {
	font-family:			'Roboto Mono', monospace;
	color:					#000;
	clear:					both;
	text-align:				justify;
	margin:					15px;
	font-weight:	 		bold;
}

p a {
	text-decoration:		none;
	color:					#0000FF;
	font-weight:			bold;
}

p a:hover, a:focus {
	color:					#717171;
}

ul, ul li {
	font-family:			Arial, Helvetica, sans-serif;
	color:					#000;
	clear:					both;
	text-align:				justify;
	margin:					1em;
}

ul {
	list-style-type: 		disc;
}

#page {
	width:					95%;
	margin: 				0 auto;
}

#pageheader {
	margin:					1em;
	padding-bottom:			2em;
	overflow:				hidden;
	max-width:				100%;
}


/* Slideshow container */
.slideshow-container {
	max-width: 				100%;
	position: 				relative;
	margin: 				auto;
  }
  
  .numbertext {
	font-family:		 	Arial, Helvetica, sans-serif;
	text-align: 			center;
	padding: 				2px;
  }


  /* Hide the images by default */
  .mySlides {
	display: 				none;
	max-width:				100%;
	padding:				1em;
	margin:					0em 0em 1em 0em;
	object-fit:				cover;
	height: 				auto;
	display: 				none;
  }

  .mySlides img {
	max-width:				100%;
	height:					auto;
	display: 				flex;
	flex-wrap: 				wrap;
	border:					2px solid #000;
}
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: 				pointer;
	position: 				absolute;
	top: 					50%;
	width: 					auto;
	margin-top: 			-22px;
	padding: 				16px;
	color:					#FFFFFF;
	font-weight: 			bold;
	font-size: 				18px;
	transition: 			0.6s ease;
	border-radius: 			0 3px 3px 0;
	user-select: 			none;
	border: 				1px solid #000;
	background-color:	 	#000;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 					0;
	border-radius: 			3px 0 0 3px;
  }
  
  /* On hover, add a black background color */
  .prev:hover, .next:hover {
	background-color:		rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */

  .dots {
	text-align: 			center;
	padding:				15px;
  }

  .dot {
	cursor: 				pointer;
	height: 				15px;
	width: 					15px;
	margin: 				0 2px;
	background-color:		#000;
	border-radius: 			50%;
	display: 				inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color:		#717171;
  }
  
  /* Fading animation */
  .fade {
	animation-name: 		fade;
	animation-duration: 	1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

.photopicturewrapper {
	max-width:				100%;
	padding:				1em;
	margin:					0em 0em 1em 0em;
	object-fit:				cover;
	height: 				auto;
	display: 				none;
}

.photopicturewrapper img {
	max-width:				100%;
	height:					auto;
	display: 				flex;
	flex-wrap: 				wrap;
	border:					2px solid #000;
	display: none;
}

.cards {
	display:				flex;
	height: 				auto;
}


@media screen and (max-width: 600px)
{
.cards
{
	display: block;
}
}

.imagewrapper
{
	max-width:				100%;
	object-fit:				cover;
	height: 				auto;
	margin: 				35px auto;
}


@media screen and (max-width: 1350px)
{
.imagewrapper
{
	margin: 20px;
	justify-content: center;
}
}

@media screen and (max-width: 1250px)
{
.imagewrapper
{
	margin: 20px;
	justify-content: center;
}
}

@media screen and (max-width: 1150px)
{
.imagewrapper
{
	margin: 20px;
	justify-content: center;
}
}

@media screen and (max-width: 1000px)
{
.imagewrapper
{
	margin: 20px;
	justify-content: center;
}
}

@media screen and (max-width: 850px)
{
.imagewrapper
{
	margin: 20px;
	justify-content: center;
}
}

@media screen and (max-width: 750px)
{
.imagewrapper
{
	margin: 20px;
	justify-content: center;
}
}

.imagewrapper img
{
	max-width:				100%;
	height:					auto;
	display: 				flex;
	flex-wrap: 				wrap;
	cursor: 				pointer;
	border: 				1px solid #000;
	margin: 				5px;
}

.cardtext {
	width: 					100%;
	float: 					centre;
	padding:				15px;
	margin-bottom: 15px;
}

.caption {
	clear:					both;
	text-align:				justify;
	margin:					0.5em;
	text-align:				center;
	font-size:				1.75em;
	margin:					0.5em;
	color:					#000;
	font-family: 			'Archivo Black', sans-serif;
	}


.bold {
	font-weight: 			bold;
}

.italics {
	font-style: 			italic;
}

.skiplink {
	position:				absolute;
	left: 					-10000px;
}

.skiplink:focus {
	left:					0;
	background-color: 		#4c712b;
	color:					#ffff00;
}

.skiplink a:hover, a:focus {
	color:					#4c712b;
	text-decoration:		underline;
}

#mainsection {
	overflow:				hidden;
	width:					96%;
	padding:				0.5em;
	margin:					0.5em;
	background-color: 		#fcfc8f;
}

#mainsection h1 {
	padding:				0.5em;
}

/* Footer */

#footer {
	overflow:				hidden;
	clear:					both;
	width:					95%;
	padding:				1em;
	margin:					1em 0.5em 1em 0.1em;
}